.infoBox{
    flex: 1;
}
.infoBox:not(:last-child){
    margin-right: 1.5rem;
}
.infoBox .infoBox__title{
 font-size: 2rem;
}
.infoBox .infoBox__cases{
color: #cc1034;
font-weight: 600;
font-size: 2rem;
margin-bottom: .5rem;
}
.infoBox .infoBox__total{
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 1.3rem !important;
    margin-top: 1rem !important;
}