.app {
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-x: hidden;
}
.app__left{
  flex: 0.6;
}
.app__right{
  flex: 0.3;
}
.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.app__right canvas{
  height: 26rem !important;
  width: 100% !important;
}

.MuiListItem-root {
  font-size: 1.3rem !important;
}
.MuiSelect-root {
  font-size: 1.3rem !important;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .app{
    flex-direction: column;
  }
  .app__right{
    margin-top: 2rem;
  }
}