.app {
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-x: hidden;
}
/* .app__left {
  flex: 0.9;
}
.app__right{
 width: fit-content;
} */
.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.app__right canvas {
  height: 32rem !important;
  width: 100% !important;
}

.MuiListItem-root {
  font-size: 1.3rem !important;
}
.MuiSelect-root {
  font-size: 1.3rem !important;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}
/* @media (max-width: 900px) {
  .app {
    flex-direction: column;
  }
  .app__right {
    width: 100%;
    height: fit-content;
    margin-top: 2rem;
  }
} */
